<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/app.css" rel="stylesheet"/>
    <link href="../static/css/footer.css" rel="stylesheet"/>
    <link href="../static/css/question.css" rel="stylesheet"/>
<body>
<div class="main">
     <div class="question">
         <div class="container">
             <h2 class="title-question"><span>You have questions.</span> <span>We have answers.</span></h2>
             <div class="content">
                 <div class="left__container">
                     <img
                             class="img__question"
                             src="../static/xxxx.jpg"
                             alt="Question"
                     />
                 </div>
                 <div class="right__container">
                     <div class="list">
                         <div class="item-question">
                             <h4 class="question">
                                 <span>Who qualifies to enroll for coverage?</span>
                                 <!-- <img src="/storage/images/icon/chevron_down.svg" alt="Icon" /> -->
                             </h4>
                         </div>
                         <div class="item-question active">
                             <h4 class="question">
                                 <span>Can I cancel my plan at anytime?</span>
                                 <!-- <img src="/storage/images/icon/chevron_down.svg" alt="Icon" /> -->
                             </h4>
                             <h5 class="answer">
                                 Yes, you can cancel your plan at any time. Please note that if you
                                 cancel outside the initial free-look/right-to-review period
                                 (within 30 days from the policy issue date), there will be a
                                 six-month waiting period before you can apply for a new policy.
                             </h5>
                         </div>
                         <div class="item-question">
                             <h4 class="question">
              <span>
                Are these plans considered Comprehensive Health Coverage?</span
              >
                                 <!-- <img src="/storage/images/icon/chevron_down.svg" alt="Icon" /> -->
                             </h4>
                         </div>
                         <div class="item-question">
                             <h4 class="question">
                                 <span>Is there an annual deductible?</span>
                                 <!-- <img src="/storage/images/icon/chevron_down.svg" alt="Icon" /> -->
                             </h4>
                         </div>
                     </div>
                     <div class="contact">
                         <div class="group__btn">
                             <button>FAQS</button>
                             <button>Compare Plans</button>
                         </div>
                         <div class="contact_sugg">
                             <h3>Have Questions?</h3>
                             <h3>Call us at (855) 479-4017</h3>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    <div class="footer">
        <div class="footer-container">
            <div class="col col_1">
                <div class="logo">
                    <img src="../static/logo.svg" alt="" />
                </div>
                <p class="desc">
                    Uniting Hooray Health's innovative services and proprietary network
                    with Zurich's supplemental health plans and solid insurance
                    experience, we provide affordable, customized solutions focused on
                    your well-being and financial health.
                </p>
                <h4 class="desc">
                    Discover our benefit plans and elevate your healthcare journey today!
                </h4>
                <div class="follow">
                    <h4 class="title">Follow us</h4>
                    <div class="list-footer">
                        <!-- <a href="#" class="item">
                          <img src="/storage/images/icon/facebook.svg" alt="" />
                        </a>
                        <a href="#" class="item">
                          <img src="/storage/images/icon/ig.svg" alt="" />
                        </a>
                        <a href="#" class="item">
                          <img src="/storage/images/icon/in.svg" alt="" />
                        </a>
                        <a href="#" class="item">
                          <img src="/storage/images/icon/ytb.svg" alt="" />
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col col_2">
                <div class="navigation">
                    <h4 class="title">Navigation</h4>
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link">FAQ</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Apply Now</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Terms of Use</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Privacy Policy</a>
                        </li>
                    </ul>
                </div>

                <div class="useful_links">
                    <h4 class="title">Useful Links</h4>
                    <ul class="menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link">About Us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Contact Us</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Sign In</a>
                        </li>
                    </ul>
                </div>
                <div class="contact">
                    <h4 class="title">Contact</h4>
                    <div class="address">
                        <div class="address__item">
                            <h4 class="address__title">Contact Us:</h4>
                            <h5 class="address__content">(855) 479-4017</h5>
                        </div>
                        <div class="address__item">
                            <h4 class="address__title">Address:</h4>
                            <h5 class="address__content">
                                5015 Addison Circle, Suite 508 Addison, TX 75001-4605
                            </h5>
                        </div>
                        <div class="address__item">
                            <h4 class="address__title">Claims Address:</h4>
                            <h5 class="address__content">
                                WebTPA | P.O. Box 99906 Grapevine, TX 76099-9706
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2024 Hooray Health - All Rights Reserved</p>
            <p>Version: HH1.4.3.8.FL2</p>
        </div>
        <div class="follow-us">
            <h4 class="follow-us__tilte">Follow Us</h4>
            <div class="follow-us__menu">
                <a class="follow-us__link">
                    <img width="32" src="../static/facebook.png" alt="">
                </a>
                <a class="follow-us__link">
                    <img width="32" src="../static/facebook.png" alt="">
                </a>
                <a class="follow-us__link">
                    <img width="32" src="../static/facebook.png" alt="">
                </a>
                <a class="follow-us__link">
                    <img width="32" src="../static/facebook.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>