.feedback__above {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.feedback__below {
    width: 100%;
   overflow: hidden;
    position: relative;
}

.below__item-feedback {
    padding-left: 20px !important;
    box-sizing: border-box;
}
.feedback__above--button > a {
    background: var(--theme);
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    position: relative;
}
.feedback__above--button:hover > a:after {
    background: var(--theme);
    inset: -1px;
    position: absolute;
    content: "Xem tất cả";
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback__below--swiper  {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, calc(100vw / 3.5));
}
.feedback__below--swiper  > div {
    border: none !important;
}
.feedback__below--swiper  > div > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.feedback__below--move {
    opacity: 0;
    position: relative;
    height: 10px;
    background: red;
}
.feedback__below--move > div {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: blue;
    /*width: calc(100vw - calc( calc(100vw / 6) + 200px));*/
}
.show-feedback {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.53);
    align-items: center;
    justify-content: center;
    z-index: 20;
    display: none;
}
.show-feedback__from {
    background: white;
    display: flex;
    position: absolute;
    inset: 0;
}
.show-feedback__from--left {
    position: relative;
    width: 500px;
    height: 100%;
}
.show-feedback__from--left > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.from__pre {
    left: 10px;
}
.from__next {
    right: 10px;
}
.from__pre, .from__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.show-feedback-parent {
    position: absolute;
    transition: 0.3s;
    width: 900px;
    pointer-events: none;
    opacity: 0;
    top: 15px;
    bottom: 15px;
}
.defaultFeedBack {
    opacity: 0;
    pointer-events: none;
}
.nextFeedBack {
    opacity: 0;
}
.activeFeedBack {
    pointer-events: visible;
    opacity: 1;
}
.show-feedback__from--right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background: white;
    flex-grow: 1;
}
.right__trademark {
    border-bottom: 1px solid rgba(211, 207, 207, 0.3);
}
.right__trademark,
.right__social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right__trademark--button > a {
    background: black;
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.right__trademark--button:hover > a:after {
    background: black;
    position: absolute;
    inset: -1px;
    content: "Truy cập";
    display: flex;
    justify-content: center;
    align-items: center;
}
.right__button {
    border-bottom: 1px solid rgba(211, 207, 207, 0.3);
    padding: 20px 0;
    display: flex;
}
.right__button > a {
    display: block;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.right__button:hover  > a:after {
    background: black;
    position: absolute;
    inset: -1px;
    content: "Xem sản phẩm";
    display: flex;
    justify-content: center;
    align-items: center;
}
.right__social--icon {
    display: flex;
    gap: 10px;
}

.show-feedback--close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 11;
    font-size: 20px;
    background: white;
    cursor: pointer;
}

.active__feedback {
    display: flex;
    z-index: 22;
}
.feedback__pre {
    position: absolute;
    top: 50%;
    display: none;
    transform: translateY(-50%);
    left: 10px;
    font-size: 30px;
}
.feedback__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 30px;
}
.right__social {
    margin-top: auto;
}
.right__card:hover > .card__parent > a {
    text-decoration: underline;
}




@media only screen and (max-width : 500px) {
    /* Styles */
    .feedback__above {
        padding: 15px !important;
    }
    .feedback__above--button > a {
        font-size: 12px;
    }
    .feedback__below--swiper > div > img {
        height: 300px !important;
    }
    .below__item-feedback {
        padding-left: 15px !important;
    }
    .show-feedback__from {
        flex-direction: column;
    }
    .show-feedback-parent {
        inset: 0 !important;
        width: auto;
    }
    .show-feedback__from--left {
        width: auto;
    }
    .show-feedback--close {
        top: 10px;
        right: calc(100% - 40px);
    }
}

@media only screen and (max-width : 800px) {
    /* Styles */
}

/* iPads (portrait and landscape) ———– */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ———– */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ———– */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}
/* Desktops and laptops ———– */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ———– */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ———– */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
}

/* iPhone 5 ———– */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */

}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6, 7, 8 ———– */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone 6+, 7+, 8+ ———– */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* iPhone X ———– */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* iPhone XS Max, XR ———– */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S3 ———– */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}

/* Samsung Galaxy S4 ———– */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

/* Samsung Galaxy S5 ———– */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
}
















