<div class="change" th:fragment="change">
    <div class="change__background" onclick="closeChange()">
    </div>
    <div class="change__main">
        <div class="change__main--above">
            <i class="fa-solid fa-chevron-left" onclick="closeChange()"></i>
            <span>Chính sách đổi trả</span>
        </div>
        <div class="change__main--below">
            <h3>1. Điều kiện đổi hàng (áp dụng trên toàn hệ thống Levents®)</h3>
            <p>
                – Áp dụng đổi hàng với tất cả các sản phẩm với điều kiện sản phẩm phải còn nguyên nhãn mác, trong tình trạng chưa qua sử dụng.
                <br>
                – Áp dụng 01 lần đổi/ 01 đơn hàng. Sản phẩm đổi phải có giá trị tương đương hoặc cao hơn sản phẩm được đổi. Vui lòng thanh toán chi phí chênh lệch nếu có.
                <br>
                – Trường hợp hoàn lại giá trị đơn hàng, tụi mình sẽ hoàn tiền trong vòng 48h làm việc sau khi nhận được yêu cầu từ các bạn.
            </p>
            <table>
                <tr>
                    <th>Đối với sản phẩm áo quần</th>
                    <th>Đối với sản phẩm phụ kiện</th>
                </tr>
                <tr>
                    <td>
                        Thời gian đổi hàng trong vòng 7 ngày kể từ ngày khách hàng nhận bưu phẩm.
                    </td>
                    <td>
                        Thời gian đổi hàng trong vòng 30 ngày kể từ ngày khách hàng nhận bưu phẩm.
                    </td>
                </tr>
            </table>
            <p>
                Lưu ý:
                <br>
                _ Với trường hợp sản phẩm bị cắt tag, trong vòng 1 ngày kể từ khi nhận, bạn hãy gửi phản hồi về tụi mình để được giải quyết. Sau 1 ngày chúng mình sẽ không giải quyết đơn đổi trả.
                <br>
                – Bạn vui lòng gửi cho chúng mình clip đóng gói hàng đổi trả của bạn, nhân viên tư vấn sẽ xác nhận và tiến hành lên đơn đổi trả cho bạn.
            </p>
            <h3>2. Dịch vụ đổi hàng tận nơi</h3>
            <p>
                Với dịch vụ này, Levents® mong muốn mang lại sự tiện lợi và những trải nghiệm tuyệt vời khi mua sắm:
                <br>
                – Đổi hàng tận nơi, shipper sẽ đến tận nhà để đổi hàng cho bạn.
                <br>
                – Áp dụng 01 lần đổi/ 01 đơn hàng.
            </p>
            <h3>
                3. Chi phí vận chuyển
            </h3>
            <p>
                a. Chi phí vận chuyển khi đổi hàng được Levents® hỗ trợ:
            </p>
            <table>
                <tr>
                    <th>Size không phù hợp</th>
                    <td>
                        Miễn phí 100% phí vận chuyển
                    </td>
                </tr>
                <tr>
                    <th>Bạn mong muốn đối sản phẩm khác (không mắc lỗi sản xuất)</th>
                    <td>
                        Hỗ trợ phí 1 chiều
                    </td>
                </tr>
                <tr>
                    <th>Sản phẩm lỗi</th>
                    <td>
                        Hỗ trợ phí 2 chiều
                    </td>
                </tr>
            </table>
            <p>
                b. Chi phí vận chuyển không được Levents® hỗ trợ:
                <br>
                – Với sản phẩm trong chương trình khuyến mãi, nếu bạn muốn đổi sang sản phẩm khác phải tự chi trả chi phí vận chuyển.</p>
        </div>
    </div>
</div>