
<div class="transfer" th:fragment="transfer">
  <div class="transfer__background" onclick="closeTransfor()">
  </div>
  <div class="transfer__main">
    <div class="transfer__main--above">
      <i class="fa-solid fa-chevron-left"  onclick="closeTransfor()"></i>
      <span>Chính sách vận chuyển</span>
    </div>
    <div class="transfer__main--below">
      <p>
        Levents® cam kết đem đến dịch vụ giao hàng nhanh chóng, đúng địa điểm cho toàn bộ đơn hàng.
      </p>
      <p>
        Hiện tại Levents® đang là đối tác lớn với đơn vị giao hàng có uy tín - GIAO HÀNG TIẾT KIỆM để hỗ trợ giao hàng trên toàn quốc và nước ngoài với chính sách cụ thể như sau:
      </p>
      <p>
        Thời gian giao hàng:
      </p>

      <table>
        <tr>
          <th>Đối với nội thành Hồ Chí Minh</th>
          <th>Đối với ngoại thành</th>
        </tr>
        <tr>
          <td>
            Giao hỏa tốc trong vòng 4h và 24h đối với các đơn hàng đặt trước (Không tính chủ nhật và các ngày lễ Tết).
          </td>
          <td>Giao hàng trong 3-4 ngày (Không tính chủ nhật và các ngày lễ Tết).</td>
        </tr>
      </table>
      <p>
        Lưu ý: Thời gian có thể dao động từ 3 -5 ngày đối với các đợt sale lớn.
      </p>
      <p>
        Số lần giao hàng
      </p>
      <p>
        – Shipper sẽ giao hàng tối đa 03 lần/đơn hàng.
      </p>
      <p>
        – Trường hợp lần đầu giao hàng không thành công, Shipper sẽ liên hệ để sắp xếp lịch giao hàng lần 02 với bạn. Tổng cộng bạn có 03 lần để nhận đơn hàng.
        Xin lưu ý: trong trường hợp chịu ảnh hưởng của thiên tai hoặc các sự kiện đặc biệt khác tác động không thể thay đổi thì chúng mình sẽ bảo lưu quyền thay đổi thời gian giao hàng mà không cần báo trước.
      </p>
      <p>
        Kiểm tra tình trạng đơn hàng
      </p>
      <p>
        Bạn có thể truy cập vào “Đơn hàng của tôi” để kiểm tra trực tiếp tình trạng đơn hàng.
        Hoặc kiểm tra với bộ phận chăm sóc khách hàng của Levents® qua Fanpage FB/IG hoặc hotline
      </p>
      <p>
        Hoặc kiểm tra với bộ phận chăm sóc khách hàng của Levents® qua Fanpage FB/IG hoặc hotline
      </p>
    </div>
  </div>
</div>