<div class="view-size" th:fragment="viewsize">
    <div class="view-size__background" onclick="closeSize()">
    </div>
    <div class="view-size__main">
        <div class="view-size__main--above">
            <i class="fa-solid fa-chevron-left" onclick="closeSize()"></i>
            <span>Bảng size</span>
        </div>
        <div class="view-size__main--below">
            <div>
                <img src="/image/SC_WEB_-_BOXY_TEE_2.0.webp">
            </div>
            <a href="/">
                Hướng dẫn chọn size
            </a>
        </div>
    </div>
</div>