<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link th:replace="admin/fragmentsAdmin/common/link"></link>
    <link th:href="@{/css/admin/productsSale/products.css}" rel="stylesheet">
    <link th:href="@{/css/admin/common/loader.css}" rel="stylesheet">
    <script th:inline="javascript">
        let DataImgs = [[${option}]];
        let success = [[${success}]];
        let type = [[${type}]];
    </script>
    <script th:src="@{/js/admin/productsSale/products/control.js}"></script>
    <link th:href="@{/css/admin/common/intitForm.css}" rel="stylesheet" />
    <link th:href="@{/css/admin/common/warningDelete.css}" rel="stylesheet" />
</head>
<body>
<div class="admin">
    <div class="admin__menu">
        <div th:replace="admin/fragmentsAdmin/common/menu :: menu"></div>
    </div>
    <div class="admin__screen">
        <div class="admin__screen-child" id="admin__screen">
            <!--            section 1 title , folder -->
            <div class="admin__screen--title  screen__tile">
                <h2>Kho sản phẩm</h2>
            </div>
            <div class="admin__screen--folder screen__folder">
                <div class="screen__root">
                    <a class="link" href="/admin/products">Danh sách</a>
                    <i th:if="${type != null}" class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="screen__current" th:if="${type != null}">
                    <span th:if="${type == 'add'}" >Tạo</span>
                    <span th:if="${type == 'update'}" >Cập nhật</span>
                    <span th:if="${action != 'AddSize' && type == 'detail'}" >Xem chi tiết (<span th:text="${option.getProductUse().name + '-' + option.getColorUse().getName()}"></span> )</span>
                    <span th:if="${action == 'AddSize' && type == 'detail'}" >
                        <a class="link" th:href="@{'/admin/products?detail=' + ${option.getIdOpt()}}" >
                    Xem chi tiết (<span th:text="${option.getProductUse().name + '-' + option.getColorUse().getName()}"></span> )
                        </a>
                    </span>
                    <span th:if="${action == 'AddSize'}" > <i th:if="${type != null}" class="fa-solid fa-chevron-right"></i>  Thêm Size</span>
                </div>
            </div>

            <div class="admin__screen--section screen__case" id="admin__screen--section">

                <!--            section 2  View List Screen -->
                <div class="screen__List screen__case--child" th:if="${action == 'screen'}">
                    <div class="color-section__option  case__option">
                        <div class="color-section__option--show">
                            <span class="show__sum">Hiện có
                                <span th:text="${options.size()}">7</span>
                            </span>
                            <div class="disable show__selected">
                               <span>
                                   Đã chọn
                                    <span class="count__selected">7</span>
                                </span>
                                <button onclick="clearAll()">Dọn dẹp</button>
                            </div>
                        </div>
                        <div class="color-section__option--setting  case__option--setting">
                            <button class="disable delete"
                                    th:data-type="${action}"
                                    onclick="openDelete(this.getAttribute('data-type'),'loại sản phẩm')"
                            >
                                <i class="fa-solid fa-trash"></i>
                                <span>Xóa bỏ</span>
                            </button >

                            <button th:if="${authenticated.role == 'admin'}" onclick="openForm()" class="create">
                                <i class="fa-solid fa-square-plus"></i>
                                <span>Tạo mới</span>
                            </button>
                        </div>
                    </div>
                    <div class="screen__List--content screen__list">
                        <div th:replace="admin/fragmentsAdmin/productsSale/products/products :: products"></div>
                    </div>
                </div>
                <!--            section 3  View Form Screen -->

                <div class="screen__add screen__case--child" id="screen__add" th:if="${action == 'edit'}">
                    <div class="screen__add--form">
                        <div th:replace="admin/fragmentsAdmin/productsSale/products/addproducts :: addproduct"></div>
                    </div>
                </div>

                <!--            section 4  View Form Screen -->
                <div class="screen__List screen__case--child" th:if="${action == 'detail'}">
                    <div class="color-section__option  case__option">
                        <div class="color-section__option--show">
                            <span class="show__sum">Hiện có
                                <span th:text="${option.optionSizeUSes.size()}">7</span>
                            </span>
                            <div class="disable show__selected">
                               <span>
                                   Đã chọn
                                    <span class="count__selected">7</span>
                                </span>
                                <button onclick="clearAll()">Dọn dẹp</button>
                            </div>
                        </div>
                        <div class="color-section__option--setting  case__option--setting">
                            <button class="disable delete"
                                    th:data-type="${action}"
                                    onclick="openDelete(this.getAttribute('data-type'),'loại sản phẩm')"
                            >
                                <i class="fa-solid fa-trash"></i>
                                <span>Xóa bỏ</span>
                            </button >

                            <button  th:if="${action == 'detail' && authenticated.role == 'admin'}" th:data-idOpt="${option.getIdOpt()}" onclick="openFormSize(this.getAttribute('data-idOpt'))" class="create">
                                <i class="fa-solid fa-square-plus"></i>
                                <span>Thêm Size</span>
                            </button>
                        </div>
                    </div>
                    <div class="screen__List--content screen__list">
                        <div th:replace="admin/fragmentsAdmin/productsSale/products/productsDetail :: products"></div>
                    </div>
                </div>
                <!--            section 5  View Form Screen -->
                <div class="screen__add screen__case--child" id="screen__adds" th:if="${action == 'AddSize'}">
                    <div class="screen__add--form">
                        <div th:replace="admin/fragmentsAdmin/productsSale/products/addSizeProduct :: addSize"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/fragmentsAdmin/common/loader :: loader"></div>
    <div th:replace="admin/fragmentsAdmin/common/warningDelete :: warning"></div>
    <script th:src="@{/js/admin/common/handleDelete.js}"></script>
</div>
</body>
<script th:src="@{/js/admin/common/menu.js}"></script>
<script th:src="@{/js/admin/productsSale/products/api.js}"></script>
<!--<script th:src="@{/js/admin/productsSale/products/control.js}"></script>-->
</html>