.customer__sale--table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
}
.table__row > td {
    padding: 10px;
}

.btn > button {
    padding: 10px;
}
.info__option {
    display: flex;
    flex-direction: column;
    align-items: center;
}