.pagination-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.pagination {
    display: flex;
    gap: 20px;
}
.pagination > div {
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: end;
}
.pagination > div:hover > span {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #000000;
}
.active-page > span{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #000000;
}