<div class="size" th:fragment="size">
    <table class="size__table">
        <thead>
            <tr>
                <th th:if="${action == 'screen' && authenticated.role == 'admin'}" ></th>
                <th>ID</th>
                <th>Tên kích thước</th>
                <th>Loại kích thước</th>
                <th th:if="${authenticated.role == 'admin'}">
                    <i class="fa-solid fa-gear"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${sizes}" th:data-id="${item.id}" ondblclick="checked(this.getAttribute('data-id'))">
                <td class="table__check" th:if="${action == 'screen' && authenticated.role == 'admin'}">
                   <input
                           th:data-id="${item.id}"
                           th:id="'input'+ ${item.id}" onchange="handleDelete()" th:disabled="${item.isUsing == true}" type="checkbox">
                </td>
                <td th:text="${item.id}">Alfreds Futterkiste</td>
                <td th:text="${item.name}">Maria Anders</td>
                <td th:text="${item.type}">Germany</td>
                <td class="size__setting-fra" th:if="${authenticated.role == 'admin'}" >
                    <div class="size__setting">
                        <button class="size__setting--update"
                                th:data-id="${item.id}"
                                onclick="openFromUpdate(this.getAttribute('data-id'))">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>